<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a
                    class="navbar-brand"
                    href="{{ path('homepage') }}"
                    id="navbar-brand"
            >
                Texthub
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                        <button
                                type="button"
                                class="
                                    btn
                                    btn-success
                                    navbar-btn
                                "
                        >
                            New text
                        </button>
                    </li>
                    <li class="dropdown">
                        <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <img
                                    src="{{ gravatar(
                                    app.user.emailCanonical,
                                    60,
                                    'g',
                                    'mm',
                                    true
                                    ) }}"
                                    class="img-circle"
                            >
                            {{ app.user.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            {% set links = [
                                {
                                    path_name: 'fos_user_profile_show',
                                    text: 'profile.show',
                                    translation_domain: 'messages',
                                },
                                {
                                    path_name: 'fos_user_profile_edit',
                                    text: 'profile.edit',
                                    translation_domain: 'messages',
                                },
                                {
                                    path_name: 'fos_user_change_password',
                                    text: 'change_password',
                                    translation_domain: 'messages',
                                },
                            ] %}

                            {% for link in links %}
                                {% include ':components/navbar/dropdown:link.html.twig' with link %}
                            {% endfor %}

                            <li
                                    role="separator"
                                    class="divider">

                            </li>

                            {% include ':components/navbar/dropdown:link.html.twig' with {
                            path_name: 'fos_user_security_logout',
                            text: 'layout.logout',
                            translation_domain: 'FOSUserBundle',
                            } %}

                        </ul>
                    </li>
                {% else %}

                    {% set links = [
                        {
                            path_name: 'fos_user_security_login',
                            text: 'layout.login',
                        },
                        {
                            path_name: 'fos_user_registration_register',
                            text: 'layout.register',
                        },
                    ] %}

                    {% for link in links %}
                        {% include ':components/navbar:link.html.twig' with link %}
                    {% endfor %}

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
