{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
    {{ text.title }}
{% endblock %}

{% block body %}
    <div
            class="page-header"
    >
        <div
                class="btn-toolbar pull-right"
        >
            <div
                    class="btn-group"
            >
                <button
                        type="button"
                        class="btn btn-default"
                >
                    Edit title
                </button>
            </div>
        </div>
        <h1>
            {{ text.title }}
        </h1>
    </div>
{% endblock %}
