{% trans_default_domain 'FOSUserBundle' %}

<div
        class="row"
>
    <div
            class="
                col-xs-12
                col-sm-6
                col-sm-offset-3
                col-md-4
                col-md-offset-4
            "
    >

        {% block form %}
        {% endblock %}
    </div>
</div>
