<!DOCTYPE html>
<html lang="en">
<head>
    <meta
            charset="utf-8"
    >

    {% include ':components/head:style.html.twig' %}

    {% include ':components/head:icons.html.twig' %}

    <title>{% block title %}Texthub{% endblock %}</title>

</head>
<body>

{% include ':components/navbar:main.html.twig' %}

<div
        class="container-fluid"
>

    {% block fos_user_content %}
    {% endblock fos_user_content %}
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"
    ></script>

    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
    ></script>
{% endblock %}
</body>
</html>
