<!DOCTYPE html>
<html lang="en">
<head>
    <meta
            charset="utf-8"
    >

    {% include ':components/head:style.html.twig' %}

    {% include ':components/head:icons.html.twig' %}

    <title>{% block title %}Texthub{% endblock %}</title>

</head>
<body>

{% include ':components/navbar:main.html.twig' %}

<div
        class="container-fluid"
>

    {% block fos_user_content %}
    {% endblock fos_user_content %}
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {% include ':components/javascripts:main.html.twig' %}
{% endblock %}
</body>
</html>
