{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
    {{ text.title }}
{% endblock %}

{% block body %}
    <h1>
        {{ text.title }}
    </h1>

    {{ text.htmlBody|raw|purify }}
{% endblock %}
